.container {
    padding: 10px;
    display: inline-grid;
    width: 100%;
    label {
        margin-right: 10px;
        font-weight: bold;
    }
    input,
    textarea {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        margin: 5px;
        &:hover {
            border: 1px solid lightseagreen;
        }
        &:focus {
            outline: none;
        }
    }
    textarea {
        height: 300px;
    }
    .btn-submit {
        padding: 10px;
        border-radius: 10px;
        background-color: lightseagreen;
        margin: 30px 20px;
        width: 150px;
        font-weight: bold;
        color: white;
        border: none;
        cursor: pointer;
    }
    .btn-add {
        padding: 10px;
        border-radius: 10px;
        background-color: lightseagreen;
        width: 150px;
        font-weight: bold;
        color: white;
        border: none;
        cursor: pointer;
    }
}
