.container {
    min-height: 300px;
    width: 70%;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid lightseagreen;
    .header {
        width: 100%;
        font-weight: bold;
        margin: 10px;
        span {
            font-size: 40px;
            color:lightseagreen;
        }
        .logout {
            max-width: 250px;
            float: right;
            border-radius: 5px;
            padding: 10px;
            border: none;
            color: white;
            background-color: lightseagreen;
        }
    }
    .notes {
        column-count: 2;
        column-gap: 40px;
        column-rule-style: solid;
        column-rule-style: dotted;
        column-width: 100px;
        margin-top: 30px;
    }
}
