.main {
    padding: 10px 20px;
    font-family: Arial;
    .header {
        font-weight: bold;
        margin: 10px;
        span {
            font-size: 40px;
            color: lightseagreen;
        }
        .logout {
            max-width: 250px;
            float: right;
            border-radius: 5px;
            padding: 10px;
            border: none;
            color: white;
            background-color: lightseagreen;
            cursor: pointer;
        }
    }
    .notes {
        column-count: 2;
        column-gap: 40px;
        column-width: 100px;
        width: 70%;
        margin: 30px auto;
    }
}
